body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
}
html {
  overflow-x: hidden;
  width: 100%;
}

#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

/*Navbar */
.NavBar {
  width: 100%;
  background-color: transparent; 
  position: relative; 
  height: 200px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.NavBar h2{
  color: white;
}

.txtLogo {
  grid-column: 1;
  margin-right: 15rem;
  margin-top: 2rem;
}


.txtMenu {
  grid-column: 3;
  margin-top: 3rem;
  margin-left: 5rem;
  list-style: none;
  display: flex;
  gap: 30px;
}

.txtMenu a {
  color: white;
}

.dropDown {
  position: relative;
}

/* Enlace de "Portfolio", que parece un link común */
.dropdown-link {
  color: white;
}

/* Ocultar el submenú por defecto */
.dropDown-content {
  display: none;
  position: absolute;
  list-style: none;
  background-color: transparent;
  margin-top: 10px;
}

.dropDown-content li {
  color: white;
  margin-top: 5px;
}


/* Mostrar el submenú cuando se pasa el ratón sobre el enlace "Portfolio" */
.dropDown:hover .dropDown-content {
  display: block;
}

.cuerpo {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuerpo img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cuerpo h1 {
position: relative;
color: white;
font-size: 3rem;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Footer*/
.Footer {
  background-color: transparent; /* Background color for the footer */
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  color: white;
}
